
body {
    background-color: black;
  }
  
  h1 {
    color: red;
    text-align: center;
  }
  
  p {
    color: white;
    font-family: verdana;
  }

  a {
    color: white;
  }
  
  h2 {
    color: white;
  }

  ul {
    color white-space: ;
  }

  li {
    color: white;
  }

  table {
    color: white;
  }